<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Pharmo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>pharmo_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>BGTaskSchedulerPermittedIdentifiers</key>
			<array>
				<string>dev.flutter.background.refresh</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>mn.infosystems.pharmo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Pharmo.mn</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
		<string>http</string>
		<string>https</string>
		<string>qpaywallet</string>
		<string>khanbank</string>
		<string>statebankmongolia</string>
		<string>xacbank</string>
		<string>tdbbank</string>
		<string>socialpay-payment</string>
		<string>most</string>
		<string>nibank</string>
		<string>ckbank</string>
		<string>capitronbank</string>
		<string>bogdbank</string>
		<string>transbank</string>
		<string>mbank</string>
		<string>ard</string>
		<string>arig</string>
		<string>Monpay</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Need BLE permission</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Need BLE permission</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take pictures.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Biometric authentication is required for secure login.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to track active deliveries and ensure timely arrival for customers.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We continuously track your location only during active deliveries to help customers monitor their orders.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Таны байршлыг хүргэлтийн явцыг шинэчлэх, ирэх цагийг тооцоолоход ашигладаг.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for recording.</string>
	<key>NSMotionUsageDescription</key>
	<string>We use motion data to enhance tracking and delivery accuracy.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to pick images.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
